<%= form_for(@guluca, remote: true, format: :json, html: {class: :guluca_form}) do |f| %>

  <div id="error_explanation" style='display:none;'>
    <ul>
      <% if @guluca.errors.any? %>
        <% @guluca.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :correo %><br>
    <%= f.text_field :correo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
